*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 1em;
  font-weight: 400;
  color: white;
  background: #B71C1C;

  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}
